$dark: #07090E;
$headerImg: 'https://images.unsplash.com/photo-1493606278519-11aa9f86e40a?auto=format&fit=crop&q=80&w=2442&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D';

.container {
    width: 100%;
    height: 60vh;
    background: $dark;
    background-image: url($headerImg);
    background-size: cover;
    background-position: bottom right;
}