@import "../utils.scss";

.wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  gap: 15px;
  width: 100%;
  height: 150px;

  .img {
    width: rem(100px);
    height: rem(120px);
    overflow: hidden;
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 50%;

    img {
      @include respimg;
      object-fit: cover;
    }
  }

  .desc {
    flex: 4;
  }

  .price {
    flex: 1;
  }
}
