.backdrop {
  background: #1c1c1c9f;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay {
  max-width: calc(650 / 16 * 1rem);
  width: 100%;
  position: absolute;
  top: calc(50% - 300px / 2);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  background: white;
  box-shadow: 0 0 5px darkgray;
  z-index: 99;

  @media (max-width: 768px) {
    top: calc(50% - 300px / 2);
    width: calc(100vw - 20px);
  }
}
